html {
  font-size: 16px;
  font-family: sans-serif;

  @import "~@fortawesome/fontawesome-free/css/all.min.css";

  $bg: #efefef;
  $bg-card: #fff;

  $primary-font: #252525;
  $secondary-font: #525252;

  $accent: #337AB7;

  $shadow: 0 1px 2px 0 rgba($secondary-font, 0.2);

  body, #root {
    background: $bg;
    color: $primary-font;
    padding: 0;
    margin: 0;
  }

  .container {
    max-width: 1200px;
    min-width: 0;
    width: 100%;
    margin: 0 auto;
  }

  .loader {
    background: rgba($bg, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;

    & > span {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
    }
  }

  .card-row {
    padding: 1rem 0.625rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    grid-gap: 0.625rem;
  }

  .card {
    background: $bg-card;
    border-radius: 0.25rem;
    box-shadow: $shadow;

    &-header {
      border-bottom: 1px solid rgba($primary-font, 0.1);
      color: $primary-font;
      font-weight: 600;
      font-size: 1rem;
      overflow: hidden;
      height: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0.625rem;

      a {
        color: $primary-font;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span, p, a, small {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-body {
      padding: 0.625rem;
    }

    .card-timestamp {
      color: $secondary-font;
      font-size: 0.8rem;
    }

    &.placeholder {
      height: 100%;
      position: relative;
      background: transparent;
      box-shadow: none;
      min-height: 4rem;

      .card-body {
        padding: 0;
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $accent;
        color: white;
        border: none;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i{
          font-size: 2rem;
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      max-width: 30rem;
      width: 100%;
    }

    .card-header-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        flex: 1;
      }
      button{
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }

  input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem 0;
    text-indent: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid $secondary-font;
    &[type="file"]{
      border: none;
      text-indent: 0;
    }
    &:focus{
      border: 1px solid $accent;
      outline: none;
    }
  }

  a{
    color: $accent;
    text-decoration: none;
    button{
      border: none;
      margin-bottom: 0.625rem;
      cursor: pointer;
      padding: 0.625rem;
    }
  }

  textarea{
    resize: none;
    width: 100% !important;
    height: 10rem !important;
  }

  label{
    display: block;
    font-size: 0.8rem;
  }

  .submit{
    background: $accent;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    color: white;
  }

  .notes-container{
    transition: all 0.3s ease;
    z-index: 999;
    position: fixed;
    left: 0;
    transform: translateX(-110%);
    top: 0;
    height: 100vh;
    width: 15rem;
    padding: 4rem 0.625rem 0 0.625rem;
    background: $bg-card;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    &.show{
      transition: all 0.3s ease;
      transform: translateX(0);
    }
  }

  .link{
    button{
      position: absolute;
      top: 0.625rem;
      width: 4rem;
      height: 2rem;
      background: $accent;
      border: none;
      border-radius: 0.25rem;
      color: white;
      cursor: pointer;
    }
  }

  .toggler{
    transition: all 0.3s ease;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0.625rem;
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    color: black;
    cursor: pointer;
    font-size: 1.25rem;
    &.active{
      transition: all 0.3s ease;
      left: 14rem;
    }
  }

  .note-item{
    border-bottom: 1px solid $secondary-font;
    padding: 0.625rem;
    small{
      font-size: 0.8rem;
      opacity: 0.75;
    }
  }

  .btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625rem;
    button{
      flex: 0 0 45%;
      width: 100%;
      border: none;
      cursor: pointer;
      height: 2rem;
      background: darkgreen;
      color: white;
      &:first-child{
        background: darkred;
        color: white;
      }
    }
  }

}

html,
body,
#root,
canvas{
  background: #efefef;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
