html {
  font-size: 16px;
  font-family: sans-serif;

  @import "~@fortawesome/fontawesome-free/css/all.min.css";

  $bg: #f0f0ff;
  $bg-card: #fff;

  $primary-font: #252525;
  $secondary-font: #525252;

  $accent: #337AB7;

  $shadow: 0 5px 10px -3px rgba($secondary-font, 0.2);

  body {
    background: $bg;
    color: $primary-font;
    padding: 0;
    margin: 0;
  }

  .container {
    max-width: 1200px;
    min-width: 0;
    width: 100%;
    margin: 0 auto;
  }

  .loader {
    background: rgba($bg, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;

    & > span {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
    }
  }

  .card-row {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    background: $bg-card;
    width: 100%;
    margin: 0.625rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: $shadow;

    &-header {
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($primary-font, 0.1);
      color: $primary-font;
      font-weight: 600;
      font-size: 1.15rem;
      overflow: hidden;

      a {
        color: $primary-font;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span, p, a, small {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-body {
      padding-top: 1rem;
    }

    .card-timestamp {
      color: $secondary-font;
      font-size: 0.8rem;
    }

    &.mini-card {
      flex: 1;
      min-width: 10rem;
      max-width: 11rem;
      width: 100%;
      max-height: 10rem;
      height: 100%;
    }

    &.placeholder {
      background: transparent;
      box-shadow: none;
      border: 5px dashed $accent;
      width: 10rem;
      height: 3.75rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-body {
        padding-top: 0;
      }

      button {
        width: 2rem;
        height: 2rem;
        background: $accent;
        color: white;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .modal {
      max-width: 30rem;
      width: 100%;
      margin-top: 2rem;
    }

    .card-header-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        flex: 1;
      }
      button{
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }

  input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    &:last-child{
      margin-bottom: 0;
    }
  }

  label{
    display: block;
    width: 100%;
  }

}

html,
body,
#root,
canvas{
  background: #f0f0ff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
